https://www.kaggle.com/datasets/leonardopena/top-spotify-songs-from-20102019-by-year

INTERESANTE https://towardsdatascience.com/identifying-drivers-of-spotify-song-popularity-with-causal-ml-934e8347d2aa

- sacar mas musica de los 60

In [7]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import sys
sys.path.append("../")
from src import api_spotify_support as api

In [8]:
sp = api.create_credentials()

ad0555441b4947759782454a4b77a204
39944cff2def432b9abe077059f09352

In [9]:
url = "https://open.spotify.com/playlist/4DOP4ViReFpcrtXZQIzlZZ?si=cd2d079390204e7e" # lista de los 70, 80,  90, 304 canciones

In [10]:
nombre_lista = "musica de los 70,80,90"

In [11]:
uri_playlist = api.prepare_url(url)
uri_playlist

'4DOP4ViReFpcrtXZQIzlZZ'

In [12]:
all_songs = api.extract_songs(sp, uri_playlist)

4

In [13]:
df_all_songs = api.clean_data( all_songs)
df_all_songs.head()

,song,artist,date,explicit,uri_cancion,popularity,usuario,links,uri_artista
0,Take on Me,a-ha,1985-06-01,False,spotify:track:2WfaOiMkCvy7F5fcp2zZ8L,87,12177422298,https://open.spotify.com/track/2WfaOiMkCvy7F5f...,2jzc5TC5TVFLXQlBNiIUzE
1,Every Breath You Take,The Police,1983-06-17,False,spotify:track:1JSTJqkT5qHq8MDJnJbRE1,88,12177422298,https://open.spotify.com/track/1JSTJqkT5qHq8MD...,5NGO30tJxFlKixkPSgXcFE
2,Careless Whisper,George Michael,1998-11-09,False,spotify:track:4jDmJ51x1o9NZB5Nxxc7gY,81,12177422298,https://open.spotify.com/track/4jDmJ51x1o9NZB5...,19ra5tSw0tWufvUp8GotLo
3,Karma Chameleon - Remastered 2002,Culture Club,1983-10-01,False,spotify:track:2wSAWEYUHkt92X4SBAPqZE,77,12177422298,https://open.spotify.com/track/2wSAWEYUHkt92X4...,6kz53iCdBSqhQCZ21CoLcc
4,Girls Just Want to Have Fun,Cyndi Lauper,1983-10-14,False,spotify:track:4y1LsJpmMti1PfRQV9AWWe,81,12177422298,https://open.spotify.com/track/4y1LsJpmMti1PfR...,2BTZIqw0ntH9MvilQ3ewNY

In [14]:
listas_uris_canciones = df_all_songs["uri_cancion"].unique().tolist()

In [15]:
print(len(listas_uris_canciones))

293

In [16]:
df_final = api.get_features(sp, df_all_songs, listas_uris_canciones, nombre_lista )
df_final.head(2)

,song,artist,date,explicit,uri_cancion,popularity,usuario,links,uri_artista,danceability,...,liveness,valence,tempo,type,id,uri,track_href,analysis_url,duration_ms,time_signature
0,Take on Me,a-ha,1985-06-01,False,spotify:track:2WfaOiMkCvy7F5fcp2zZ8L,87,12177422298,https://open.spotify.com/track/2WfaOiMkCvy7F5f...,2jzc5TC5TVFLXQlBNiIUzE,0.573,...,0.0928,0.876,84.412,audio_features,2WfaOiMkCvy7F5fcp2zZ8L,spotify:track:2WfaOiMkCvy7F5fcp2zZ8L,https://api.spotify.com/v1/tracks/2WfaOiMkCvy7...,https://api.spotify.com/v1/audio-analysis/2Wfa...,225280,4
1,Every Breath You Take,The Police,1983-06-17,False,spotify:track:1JSTJqkT5qHq8MDJnJbRE1,88,12177422298,https://open.spotify.com/track/1JSTJqkT5qHq8MD...,5NGO30tJxFlKixkPSgXcFE,0.820,...,0.0714,0.740,117.401,audio_features,1JSTJqkT5qHq8MDJnJbRE1,spotify:track:1JSTJqkT5qHq8MDJnJbRE1,https://api.spotify.com/v1/tracks/1JSTJqkT5qHq...,https://api.spotify.com/v1/audio-analysis/1JST...,253920,4

In [17]:
df_final = api.clean_df(df_final, nombre_lista)
df_final.head(2)

,song,date,popularity,usuario,artist,uri_artista,uri_cancion
0,Take on Me,1985-06-01,87,12177422298,a-ha,2jzc5TC5TVFLXQlBNiIUzE,spotify:track:2WfaOiMkCvy7F5fcp2zZ8L
1,Every Breath You Take,1983-06-17,88,12177422298,The Police,5NGO30tJxFlKixkPSgXcFE,spotify:track:1JSTJqkT5qHq8MDJnJbRE1

In [18]:
uri_artistas = df_final["uri_artista"].unique()
len(uri_artistas)

195

In [19]:
df_artistas_albumes = api.get_artist_album(sp, uri_artistas, nombre_lista)
df_artistas_albumes.head()

,artist_name,album_name,release_date,total_tracks
0,a-ha,True North,2022-10-21,12
1,a-ha,Lifelines (Deluxe Edition),2019-09-27,37
2,a-ha,"Minor Earth, Major Sky (Deluxe Edition)",2019-09-27,33
3,a-ha,Mtv Unplugged - Summer Solstice,2017-10-06,21
4,a-ha,Cast In Steel,2015-09-04,18

In [20]:
df_info_artistas = api.get_artist_data(sp, uri_artistas, nombre_lista)
df_info_artistas.head()

,artist_name,artist_id,followers,genres,popularity
0,a-ha,2jzc5TC5TVFLXQlBNiIUzE,1978118,"[new romantic, new wave, new wave pop, permane...",72
0,The Police,5NGO30tJxFlKixkPSgXcFE,5429215,"[album rock, classic rock, permanent wave, rock]",76
0,George Michael,19ra5tSw0tWufvUp8GotLo,4216228,[new wave pop],73
0,Culture Club,6kz53iCdBSqhQCZ21CoLcc,1414469,"[album rock, new romantic, new wave, new wave ...",64
0,Cyndi Lauper,2BTZIqw0ntH9MvilQ3ewNY,2294793,"[dance pop, new wave pop, permanent wave, soft...",71